/* general settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

/* craft a center class, to center the text */
.center  {
    width: 70%;
    margin: 0 auto;
}

/* header settings */
header {
    background-color: steelblue;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 20%;
}

.link {
    width: 55%;
}

.button {
    width: 20%;
}

/* main */


#download-section {
    background-color: steelblue;
}


/* footer */
footer {
    background-color: #1b1c25db;
    padding-top: 50px;
}

.links-footer {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.footers-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(125, 120, 179);
}
/* DEBUG */

/* header */
header {
    min-height: 100px;
}

.logo {
    height: 50px;
    border: 1px solid blue;
}

.link {
    height: 50px;
    border: 1px solid blue;
}

.button {
    height: 50px;
    border: 1px solid blue;
}

/* main */
#download-section {
    width: 100%;
    height: 300px; 
    border: 4px solid black;
}

/* footer */
/* footer {
    height: 300px;
}

.links-footer {
    border: 1px solid cornsilk;
}

ul {
    border: 2px dotted black;
}
.footers-footer {
    border: 1px solid cornsilk;
} */