/* general settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

/* craft a center class, to center the text */
.center  {
    width: 70%;
    margin: 0 auto;
}

/* header settings */
header {
    background-color: steelblue;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

#logo {
    width: 20%;
}

.link {
    width: 55%;
}

.button {
    width: 20%;
}

/* main */
main {
    padding-top: 50px;
}

.ddownload-section {
    background-color: steelblue;
}


/* DEBUG */

/* header */
header {
    min-height: 100px;
}

#logo {
    height: 50px;
    border: 1px solid blue;
}

.link {
    height: 50px;
    border: 1px solid blue;
}

.button {
    height: 50px;
    border: 1px solid blue;
}

/* main */
.download-section {
    height: 300px; 
    border: 1px solid blue;
}

main {

}